<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.co.berca.apps_mobile">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Mobile Asset"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon, android:label">

        <activity
            android:name=".MainActivity"
            android:label="Mobile Asset"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
